html{
    display: flex;
    justify-content: center;
    height: 80%;
    background-color: #F1F3F4;
}

/* body{
    background-color: yellowgreen;
    width: 55%;
    height: auto;
} */

header{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    justify-content: flex-start;
}

.textHeader{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Segoe UI';
}

#imageprofile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #000;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    border: 1px solid black;
    grid-auto-rows: minmax(210px, auto);
}

#oneSectionHeader{
    width: 210px;
}

#twoSectionHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
}

.one {
    grid-column: 2;
    grid-row: 1;
    background-color: aquamarine;
    padding: 1px;
    margin: 10px;
    font-family: 'Segoe UI';
  }

.two {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: blueviolet;
    margin: 10px;
    font-family: 'Segoe UI';
}

.three{
    grid-column: 2;
    grid-row: 2;
    background-color: yellow;
    margin: 10px;
    font-family: 'Segoe UI';
}

